<div class="card-panel col l6 s8 push-l3 push-s2">
    <form [formGroup]="userCreateForm" (ngSubmit)="create()">
        <div class="input-field col l8 s12  push-l2">
            <input id="firstName" type="text" formControlName="firstName" class="validate"/>
            <label for="firstName">Votre prénom</label>
        </div>
        <div class="input-field col l8 s12 push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.firstName">
                <div class="red-text" *ngIf="userCreateForm.get('firstName').hasError(error.type) && (userCreateForm.get
                ('firstName').dirty || userCreateForm.get('firstName').touched)">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input id="lastName" type="text" formControlName="lastName" class="validate"/>
            <label for="lastName">Votre Nom</label>
        </div>
        <div class="input-field col l8 s12 push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.lastName">
                <div class="red-text" *ngIf="userCreateForm.get('lastName').hasError(error.type) && (userCreateForm.get
                ('lastName').dirty || userCreateForm.get('lastName').touched)">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input id="address" type="text" formControlName="address" class="validate"/>
            <label for="address">Votre adresse</label>
        </div>
        <div class="input-field col l8 s12 push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.address">
                <div class="red-text" *ngIf="userCreateForm.get('address').hasError(error.type) && (userCreateForm.get
                ('address').dirty || userCreateForm.get('address').touched)">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input id="email" type="email" formControlName="email" class="validate" />
            <label for="email">Votre Email</label>
        </div>
        <div class="input-field col l8 s12 push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.email">
                <div class="red-text" *ngIf="userCreateForm.get('email').hasError(error.type) && (userCreateForm.get
                ('email').dirty || userCreateForm.get('email').touched)">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input id="password" type="password" formControlName="password" class="validate" />
            <label for="password">Votre mot passe</label>
        </div>
        <div class="input-field col l8 s12 push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.password">
                <div class="red-text" *ngIf="userCreateForm.get('password').hasError(error.type) && (userCreateForm.get
                ('password').dirty || userCreateForm.get('password').touched)">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input id="confirmPassword" type="password" formControlName="confirmPassword" class="validate" />
            <label for="confirmPassword">Votre mot passe</label>
        </div>
        <div class="input-field col l8 s12 push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.confirmPassword">
                <div class="red-text" *ngIf="userCreateForm.hasError('notSame')">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input type="submit" value="inscription" class="waves-effect waves-light btn red" [disabled]="userCreateForm.invalid" />
        </div>
    </form>
</div>