<div class="card-panel col l6 s8 push-l3 push-s2">
    <form [formGroup]="loginFrom" (ngSubmit)="logged()">
        <div class="input-field col l8 s12  push-l2">
            <input id="username" type="email" formControlName="username" class="validate"/>
            <label for="username">Votre e-mail</label>
        </div>
        <div class="input-field col l8 s12  push-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.username">
                <div class="red-text" *ngIf="loginFrom.get('username').hasError(error.type) && (loginFrom.get
                ('username').dirty || loginFrom.get('username').touched )">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input id="password" type="password" formControlName="password" class="validate"/>
            <label for="password">Votre mot de passe</label>
        </div>
        <div class="input-field col l8 s12 push-s-l2 error-messages">
            <ng-container *ngFor="let error of error_msg.password">
                <div class="red-text" *ngIf="loginFrom.get('password').hasError(error.type) && (loginFrom.get(    
                'password').dirty || loginFrom.get('password').touched)">
                    {{error.message}}
                </div>
            </ng-container>
        </div>
        <div class="input-field col l8 s12 push-l2">
            <input type="submit" value="connexion" class="waves-effect waves-light btn red " />
        </div>
    </form>
    <p class="input-field col l8 s12 push-l2">
        <a [routerLink]="['/inscription']">Pas encore inscrit ?</a> 
    </p>
</div>
