<ng-container *ngIf="model">
    <div class="col l10 push-l1 m12">
        <div class="card-panel grey lighten-5">
            <H2>votre profile</H2>
            <ng-container *ngFor="let item of model">
                <div class="profile-container">
                    <ng-container *ngIf="editMode; then editable else edited"></ng-container>
                    <ng-template #edited>
                            <span class="small material-icons prefix red-text darken-1">account_circle</span>
                            <span>{{item.first_name}} {{item.last_name}}</span>
                            <button class="btn-flat red-text" (click)="editMode=true">
                                <i class="material-icons tiny edit red-text darken-1">edit</i>
                            </button>
                    </ng-template>
                    <ng-template #editable>
                        <ng-form [formGroup]="userUpdate" >
                            <div class="input-field col l6 firstName">
                                <i class="material-icons place red-text darken-1 prefix">account_circle</i>
                                <input id="icon_circle_firstName" type="text" formControlName="firsttName" (keyup)="updateInput($event, item.id)"/>
                                <label for="icon_circle_firstName">{{item.first_name}}</label>
                            </div>
                            <div class="input-field col l6 s10 push-s2">
                                <input id="icon_circle_lastName" type="text" formControlName="lastName" (keyup)="updateInput($event, item.id)"/>
                                <label for="icon_circle_lastName">{{item.last_name}}</label>
                            </div>
                        </ng-form>
                    </ng-template>  
                </div>
                <div class="profile-container">
                    <ng-container *ngIf="editMode1; then editable1 else edited1"></ng-container>
                    <ng-template #edited1>
                        <span class="small material-icons place red-text darken-1">place</span>
                        <span>{{item.address}}</span>
                        <button class="btn-flat red-text" (click)="editMode1=true">
                            <i class="material-icons tiny edit">edit</i>
                        </button>
                    </ng-template>
                    <ng-template #editable1>
                        <ng-form [formGroup]="userUpdate" >
                            <div class="input-field">
                                <i class="material-icons place red-text darken-1 prefix">place</i>
                                <input id="icon_place" type="text" formControlName="address" (keyup)="updateInput($event, item.id)"/>
                                <label for="icon_place">{{item.address}}</label>
                            </div>
                        </ng-form>
                    </ng-template>  
                </div>
                <div class="profile-container">
                    <ng-content *ngIf="editMode2; then editable2 else edited2"></ng-content>
                        <ng-template #edited2>
                            <span class="small material-icons mail red-text darken-1">mail</span>
                            <span>{{item.email}}</span>
                            <button class="btn-flat red-text" (click)="editMode2=true">
                                <i class="material-icons tiny edit">edit</i>
                            </button>
                        </ng-template>
                        <ng-template #editable2>
                            <ng-form [formGroup]="userUpdate" >
                                <div class="input-field">
                                    <i class="material-icons mail red-text darken-1 prefix">mail</i>
                                    <input id="icon_mail" type="text" formControlName="email" (keyup)="updateInput($event, item.id)"/>
                                    <label for="icon_mail">{{item.email}}</label>
                                </div>
                            </ng-form>
                        </ng-template>  
                </div>
            </ng-container >
        </div>
    </div>

</ng-container>