<ng-container *ngIf="model">
    <table class="striped responsive-table col l10 s12 push-l1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Groupe de l'utilisateur</th>
                <th>Administrateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of model">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.first_name}}
                </td>
                <td>
                    {{item.last_name}}
                </td>
                <td>
                    {{item.address}}
                </td>
                <td>
                    {{item.email}}
                </td>
                <td>
                    {{item.group | groups}}
                </td>
                <td>
                    <label>
                        <input type="checkbox" (click)="changeGroup(item.id)"/>
                        <span>Changer de groupe</span>
                    </label>
                </td>
                <td>
                    <button (click)="delete(item.id)" class="btn-small waves-effect waves-light red">Supprimer</button>
                </td>
            </tr>
        </tbody>    
    </table>
</ng-container>
